* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #cccccc;
}

.container {
  background-color: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px 20px;
  border-radius: 10px;
}

.container span {
  font-size: 20px;
}

.content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

input:focus,
select:focus,
textarea:focus {
  outline-color:red;
}

.item-5 {
  grid-column-start: span 2;
}

.submit-btn {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

button {
  margin-top: 20px;
  background-color: red;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}

button:hover {
  background-color: #ccc;
  color: black;
  border-color: 2px solid red;
  transition: 0.3s ease-in;
}


@media (max-width:500px) {
    .item-5 {
        grid-column-start: 1;
      }
    .container {
        margin: 30px 20px;
    }
    
}
