* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-inline: 10px;
}

body {
  background-color: #141414;
  color: white;
  text-align: center;
  font-family: Inter, "Sans serif";
}

.container {
  padding: 30px;
  background-color: #1f1f1f;
  border-radius: 8px;
}

.container h1 {
  margin-top: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.sub-heading {
  color: hsl(75, 94%, 57%);
  font-size: 11px;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 60px;
  border-radius: 50%;
}

.container p {
  color: #aaaaaa;
  margin-top: 22px;
  margin-bottom: 17px;
  font-size: 12px;
}

.contact-list {
    font-weight: 500;
    font-size: 12px;
    padding-block: 10px;
    background-color: #333333;
    margin-bottom: 10px;
    border-radius: 6px;
}

@media (max-width:375px) {
    .container {
        padding: 20px;
    }
}
