@import url('https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --dark_blue_color: hsl(217, 19%, 35%);
    --light_blue_color: hsl(214, 17%, 51%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(237, 242, 248);
    font-family: "Manrope", sans-serif;
}

.card-container {
    max-width: 770px;
    display: flex;
    position: relative;
}

.left {
    flex-basis: 40%;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left img {
    width: 100%;
    object-fit: cover;
}

.card h3 {
    font-size: 21px;
    margin-bottom: 15px;
    color: var(--dark_blue_color);
    font-weight: 800;
}

.card .text {
    font-size: 17px;
    margin-bottom: 15px;
    color: var(--light_blue_color);
    font-weight: 600;
}

.card .name {
    font-size: 17px;
    font-weight: 600;
    color: var(--dark_blue_color);
    font-weight: 600;
}

.right {
    padding: 40px 40px 25px 40px;
    flex-basis: 60%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.share-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-details {
    display: flex;
    align-items: center;
}

.writer_name {
    margin-left: 15px;
}

.writer_name p {
    font-size: 17px;
    color: var(--light_blue_color);
}

.author-img {
    width: 50px;
    border-radius: 50%;
}

.share img {
    background-color: rgb(240, 244, 250);
    padding: 15px;
    border-radius: 50%;
}

.share-platform {
    background-color: rgb(73, 85, 107);
    display: flex;
    padding: 22px 45px;
    gap: 18px;
    width: max-content;
    border-radius: 17px;
    position: absolute;
    bottom: 96px;
    right: -94px;
    display: none;
}

.show {
    display: flex;
}

.share-platform span {
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 600;
    color: hsl(212, 23%, 69%);
}

.share-platform img {
    width: 25px;
    margin-right: 12px;
}

.share-platform::after {
    content: '';
    background-color: rgb(73, 85, 107);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
}

.footer {
    position: relative;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


@media (max-width:500px) {
    .card-container {
        flex-direction: column;
        height: 700px;
        margin-inline: 32px;
    }

    .left {
        border: none;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .right {
        padding: 50px 40px 25px 40px;
        flex-basis: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0;
    }

    .card .text {
        margin-bottom: 20px;
    }

    .card h3 {
        margin-bottom: 20px;
    }

    .share-platform {
        /* margin-top: 16px; */
        background-color: rgb(73, 85, 107);
        display: flex;
        padding: 30px 45px;
        gap: 18px;
        border-radius: 17px;
        position: absolute;
        bottom: 31px;
        right: -94px;
        left: 0;
        display: none;
        width: 100%;
        border-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .show {
        display: flex;
        
    }

    .share {
        position: relative;
        z-index: 1;
    }

    .share-platform::after {
        content: none;
    }
}