* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 208, 78);
    font-family: "Figtree",sans-serif;
}

.container {
    margin-inline: 24px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 0.125rem solid black;
    border-radius: 0.9375rem;
    background-color: #fff;
    padding: 1.25rem;
    box-shadow: 0.625rem 0.625rem;
}

.card img {
    width: 100%;
    border-radius: 0.625rem;
}

.learning { 
    background-color: rgb(245, 208, 78);
    padding: 0.625rem 0.9375rem;
    display: inline-block;
    margin-top: 1.25rem;
    margin-bottom: 0.9375rem;
    border-radius: 0.5rem;
}

.learning .date {
    color:  hsl(0, 0%, 7%);
}

.learning h6 {
    font-weight: 800;
    font-size: 0.875rem;
}


.card .grey-text {
  font-weight: 500;
  max-width: 21.25rem;
  color: hsl(0, 0%, 42%);
  margin-bottom: 1.25rem;
}

.card h1 {
    font-weight: 800;
    font-size: 1.5625rem;
    margin-block: 1rem;
}

.card h1:hover {
    cursor: pointer;
    color: rgb(245, 208, 78);
}

.creator {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.creator-img {
    width: 2.5rem;
}

.creator h5 {
    font-size: 1rem;
    font-weight: 800;
}

@media(max-width:25rem) {
    .card h1 {
        font-size: 1.375rem;
    }
}