*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(213, 225, 239);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Outfit" , sans-serif;
}

.container {
    max-width: 200px;
    border-radius: 12px;
    padding: 20px;
    background-color: #fff;
    margin-inline: 20px;
}

.container h1 {
    margin-block: 14px;
    font-size: 17px;
}

.container p {
    text-align: center;
    color: hsl(216, 15%, 48%);
    font-size: 13px;
    margin-bottom: 8px;
}

.qr-code img{
  width: 100%;
  border-radius: 8px;
}